@import url(navbar.css);
@import url(page.css);
@import url(Suggestions.css);
@import url(menu.css);
@import url(responsive.css);

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

body {
  background-color: darkred;
}

h1,
.nav-bar a {
  font-family: "spirax", sans-serif;
}
